.links-landpage li {

    border: 1px solid red;
    display:inline;
}

.links-landpage a {
    text-decoration: none;
    color: black;
}

.links-landpage a:hover {color:blueviolet}

.infos-add {float: right;
clear: right;

}