* {
    padding: 5px;
}

.header-trybe {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}



@media screen and (max-width: 600px) {
    .hotel-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-floating {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}