.super-mario {
    width: 200px;
   position: relative;
   

  }
  .goomba {
    width: 100px;
   
  }
  .baloon {
    width: 100px;
    position: absolute;
    left: 230px;
    bottom: 150px;
    z-index: 1;
  }
  .speach {
    font-size: 10px;
    position: absolute;
    z-index: 2;
    width: 20px;
    left: 260px;
    bottom: 160px;
    text-align: center;
  }
  .bowser {
    width: 200px;
    top: 200px;
    position: relative;
  }
  
  
  
  
  
  
  
  